{{ if (ne .Params.comment false) -}}

{{ if .Site.DisqusShortname }}
{{ template "_internal/disqus.html" . }}
{{ end }}

{{ $giscus := .Site.Params.giscus }}
{{ if $giscus.enable }}
<div class="giscus" id="comments"></div>
<script src="https://giscus.app/client.js"
        data-repo="philico-tech/ptech-blog"
        data-repo-id="XXXXXXXXXXXXXX" 
        data-category="General"
        data-category-id="XXXXXXXXXXXXXX"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="light_tritanopia"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>
{{ end }}
{{ end }}
